<!doctype html>
<html lang="{{ site.locale }}">
	<head>
		<script src="https://cdn.logsnag.com/js/0.1.6/ls.js"></script>
		{% render "head", metadata: site.metadata, title: resource.data.title, summary_image: resource.summary_image, twitter_card_type: resource.twitter_card_type %}
	</head>
	<body class="freelance-page {{ resource.data.layout }} {{ resource.data.page_class }}">

		<nav class="home-nav">
			<ul>
				<li><a href="{{ '/menu' | relative_url }}">Menu</a></li>
			</ul>
		</nav>

		<main class="item-main">
			{{ content }}
		</main>

		<!-- {% render "footer", metadata: site.metadata %} -->
		{% render "scripts" %}
	</body>
</html>
